.displayPlants {
	width: 50%;
	float:left;
	padding: 20px;
	h3 {
		margin-top: 30%;
		margin-right: 10%;
		margin-left: 10%;
		padding: 5%;
		font-size: 2.5em;
		text-align: center;
		line-height: 30px;
		font-weight: 300;
		color: $mediumgreen;
		border: 1.5px solid $pink;
	}
}

.displayPlants__item {
	li {
		display: inline-block;
		position: relative;
		list-style: none;
	}
	img {
		max-width: 50%;
	}
	h4 {
		position: absolute;
		top: 50%;
	}
}



