.displayPlants {
	width: 50%;
	float:left;
	padding: 20px;
	h3 {
		padding: 15%;
		font-size: 2em;
		text-align: center;
		line-height: 30px;
	}
}

.plantForm {
	width: 50%;
	float: right;
	padding: 10%;
	form {
		display: flex;
		flex-direction: column;
		font-size: 1.5em;
		input, label, select {
			margin: 10px;
			text-align: center;
		}
	}
}

