nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	// width: 50%;
	h1 {
		text-transform: uppercase;
		color: $mediumgreen;
		text-align: center; 
		letter-spacing: 1.5px;
		line-height: 16px;
		font-size: 1.5em;
		padding: 20px 0 20px 20px;
		span {
			font-size: 1.3em;
			color: $logolightgreen;
		}
	}
	img {
		height: 80px;
		margin-top: 15px;
	}
}

@media (max-width: 850px) {
	nav {
		justify-content: center;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		height: 150px;
		h1 {
			font-size: 3.5em;
			line-height: 35px;
		}
		img {
			height: 150px;
		}
	}
}

@media (max-width: 600px) {
	nav {
		h1 {
			font-size: 2em;
			line-height: 20px;
		}
		img {
			height: 90px;
		}
	}
}

